/* Configuration générale du corps du document */
body {
  font-family: Arial, sans-serif;  /* Définit la police du document */
  padding: 2em;  /* Ajoute un espace autour du contenu du corps */
  background-color: #141414;  /* Définit la couleur d'arrière-plan du corps */
}

/* Configuration de la disposition de l'application */
.app {
  display: flex;  /* Utilise le modèle de boîte flexible pour la mise en page */
  flex-wrap: wrap;  /* Permet aux éléments flexibles de se mettre à la ligne */
  justify-content: space-around;  /* Répartit les éléments avec un espace autour d'eux */
  background-color: #141414;  /* Définit la couleur d'arrière-plan du conteneur */
  color: white;  /* Définit la couleur du texte */
}
